<footer class="usa-footer site-footer" role="contentinfo">
  <div class="usa-identifier site-identifier">
    <nav class="usa-identifier__section usa-identifier__section--required-links" aria-label="Important links">
        <div class="usa-identifier__container">
            <ul class="usa-identifier__required-links-list">
                <li class="usa-identifier__required-links-item">
                    <a href="mailto:wethesongwriters2025@gmail.com" class="usa-identifier__required-link usa-link">
                        Email Us
                    </a>
                </li>
                <li class="usa-identifier__required-links-item">
                    <a href="https://bsky.app/profile/wethesongwriters.bsky.social" class="usa-identifier__required-link usa-link">
                        Follow Us on Bluesky
                    </a>
                </li>
            </ul>
        </div>
    </nav>
  </div>
</footer>
