<footer class="usa-footer site-footer" role="contentinfo">
  <div class="usa-identifier site-identifier">
    <nav class="usa-identifier__section usa-identifier__section--required-links" aria-label="Important links">
        <div class="usa-identifier__container">
                    <p><a href="mailto:wethesongwriters2025@gmail.com" class="usa-identifier__required-link usa-link">
                        Email</a> | <a href="https://bsky.app/profile/wethesongwriters.bsky.social" class="usa-identifier__required-link usa-link">Bluesky</a></p>
        </div>
    </nav>
  </div>
</footer>
