<footer class="usa-footer usa-footer--medium">
          <div class="usa-footer__secondary-section">
            <div class="grid-container">
              <div class="grid-row grid-gap" data-testid="grid">
            <div class="usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2" data-testid="footerLogo">
            <div class="mobile-lg:grid-col-auto">
              <a href="/">
              {% image "_img/wordmark.png" "We the Songwriters logo: a blue spoon turned into a guitar." %}
            </a>
            </div>
          </div>
          <div class="usa-footer__contact-links mobile-lg:grid-col-6">
                <address class="usa-footer__address">
                  <div class="usa-footer__contact-info grid-row grid-gap"><div class="grid-col-auto"><a class="usa-link" href="/">Home</a></div><div class="grid-col-auto"><a class="usa-link" href="mailto:wethesongwriters2025@gmail.com">Email</a></div><div class="grid-col-auto"><a href="https://bsky.app/profile/wethesongwriters.bsky.social">Bluesky</a></div></div></address><p>© 2025</p></div></div></div></div>
</footer>