{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h1 class="usa-hero__heading"><span class="usa-hero__heading--alt">Building empathy:</span>One song at a time
      </h1>
      <p>We are a collaboration between songwriters and federal employees to humanize the people served by the federal government. </p>
      <a class="usa-button" href="/songs/">The Songs</a>
      <a class="usa-button" href="/sign-up/">Sign Up</a>
    </div>
  </div>
</section>
