---
layout: layouts/wide
title: The Songs
pagination:
  data: collections.posts
  size: 8
  alias: posts
  reverse: true
---

<div id="songs" class="bg-primary-darker usa-content font-serif-lg padding-y-6">
  <div class="grid-container">
    <h1 class="text-normal text-white margin-0">The Songs</h1>
    <span class="text-base-lighter display-block padding-top-1 text-light"
      >Once we have some songs, we will post them here.</span
    >
  </div>
</div>
<div class="grid-container">
  <div class="grid-row">
    <p>Here are some examples of the types of songs we will have and what they'll look like when posted.</p>
    <div class="desktop:grid-col-8 usa-prose padding-right-4">
      <!-- This loops through the paginated posts -->
      {%- for post in posts %}
        {% include "collection-item.html" post: post %}
      {% endfor %}
      {% include "pagination-links.html" %}
    </div>
    <article aria-label="Other site posts and related links" class="desktop:grid-col-fill margin-top-4 padding-right-4">

      </div>
    </article>
  </div>
</div>
